<div class="container">
	<div class="row">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= @category %>리스트입니다.</h3>
		  </div>
		  <div class="panel-body">
		  	<%= render :partial => "foods/posts" %>
		  </div>
		</div>
	</div>
</div>
