<div class="container">
	<div class="row">
	<%= flash[:alert] %>
	<div class="well">
		<h3 class="text-center">Codelion의 맛집 평가 사이트에 오신 여러분들을 환영합니다.</h3>
		<p class="text-center">최상의 맛집들을 모았습니다.</p>
	</div>
	<%= render :partial => "foods/posts" %>
	</div>
</div>

<!-- 부트스트랩의 .well파일을 수정하였습니다. --> 