<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
			<h3 class="text-center">맛집 추가하기</h3>
				<p><%= flash[:alert] %></p>

			<form action="/foods/write_complete" class="form-signin" method="post" enctype="multipart/form-data">
				<p class="text-center"><span class="glyphicon glyphicon-plus">분류</span>
				<select name="post_category">
					<option value="한식">한식</option>
					<option value="일식">일식</option>
					<option value="중식">중식</option>
					<option value="양식">양식</option>
				</select></p>
				<p class="text-center"><input class="form-control input_user" placeholder="제목" type="text" name="post_title" placeholder="제목을 입력하세요."></p>
				<p class="text-center"><textarea class="form-control input_textarea" placeholder="내용" name="post_content" placeholder="내용을 입력하세요."></textarea></p>
				<p class="text-center"><span class="glyphicon glyphicon-plus">사진업로드</span></p><p class="text-left"><input type="file" name="image"></p>
				<input class="btn btn-lg btn-block submit_user" type="submit" value="추가하기">
			</form>
    </div>
  </div>
</div>
