/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face{
	font-family: :'RixMGoM';
	src: url('/fonts/RixMGoM.eot');
	src: url('/fonts/RixMGoM.eot?#iefix') format('eot');
	src: local('☺'),
	url('/fonts/RixMGoM.woff') format('woff'),
	url('/fonts/RixMGoM.ttf') format('ttf'),
	url('/fonts/RixMGoM.svg#webfontFHzvtkso') format('svg');
}

@font-face {
	font-family: 'RixMGoL';
	src: url('/fonts/RixMGoL.eot');
	src: url('/fonts/RixMGoL.eot?#iefix') format('eot');
	src: local('☺'),
	url('/fonts/RixMGoL.woff') format('woff'),
	url('/fonts/RixMGoL.ttf') format('ttf'),
	url('/fonts/RixMGoL.svg#webfontFHzvtkso') format('svg');
}

@font-face {
	font-family: 'RixMGoB';
	src: url('/fonts/RixMGoB.eot');
	src: url('/fonts/RixMGoB.eot?#iefix') format('eot');
	src: local('☺'),
	url('/fonts/RixMGoB.woff') format('woff'),
	url('/fonts/RixMGoB.ttf') format('ttf'),
	url('/fonts/RixMGoB.svg#webfontFHzvtkso') format('svg');
}

body {
	font-family: 'RixMGoM'  !important;
	color: #656970 !important;
}

h1,h2,h3,h4,h5,p,a {
	font-family: 'RixMGoB'  !important;
	color: #656970 !important;
}

.blog_name {
	height: 120px;
	padding-top: 50px;
}

a {
	color: #ee3b53 !important;
}

a:hover {
	color: #a3293d !important;
	text-decoration: none !important; 
}

.navbar {
	background-color: #ee3b53 !important;
}

.nav_list {
	color: #ffffff !important;
}

.nav_list:hover {
	background-color: #ffffff !important;
}
