<div class="container">
  <div class="row">
    <h1 class="text-center blog_name"><a href="/">Codelion 맛집 평가</a></h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-default" id="bs-example-navbar-collapse-1">
      <div class="container">
        <ul class="nav navbar-nav pull-left">
          <li class="text-left"><a href="/korean" class="nav_list">한식</a></li>
          <li><a href="/chinese" class="nav_list">중식</a></li>
          <li><a href="/japanese" class="nav_list">일식</a></li>
          <li><a href="/western" class="nav_list">양식</a></li>
          <li><a href="/foods/write" class="nav_list">맛집 추가하기</a></li>
        </ul>
        <% if session[:user_id].nil? %>
        <ul class="nav navbar-nav pull-right">
          <li ><a href="/users/login" class="nav_list">로그인</a></li>
          <li><a href="/users/signup" class="nav_list">회원가입</a></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav pull-right">
          <li class=""><a href="/users/logout_complete" class="nav_list">로그아웃</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
